<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha512-c93ifPoTvMdEJH/rKIcBx//AL1znq9+4/RmMGafI/vnTFe/dKwnn1uoeszE2zJBQTS1Ck5CqSBE+34ng2PthJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <title>Mokrus | Portfolio</title>
</head>
<body>
   <div id="top-image">
    <div class="main-container">
      {{>static}}
       <div class="aboutme-container">
         <div class="aboutme-containerA">
          <div class="aboutmeword">
             <span class="aboutspan">About </span> <span class="aboutspanB">me</span>
          </div>
             <div class="mydetail-container">
               <div class="mydetail-containerA">
                  <p>Hello Everyone, Myself Mohit Kumar suman (MOKRUS), I am dedicated, and open-minded. I believe that a person should work on developing their professional skills and learning new things all the time. Currently, I am pursuing Engineering in EC. I am a self learnt Web Developer and love to develop Web Apps and many more....  </p>
               </div>
              <div class="mydetail-containerB">
                 <ul>
                    <li><span>Age</span> 18</li>
                    <li><span>Residence</span> India</li>
                    <li><span>E-mail</span> workwithmokrus@gmail.com</li>
                    <li><span>StackUse</span> MERN</li>
                 </ul>
              </div>
             </div>
           <div class="whatido-container">
              <div class="whatido-text">What <span> I Do</span></div>
              <div class="myworking-container">
                 <div class="myworking-containerA">
                      <div class="logo"><i class="fas fa-laptop-code"></i></div>
                         <div class="workingprofileA">Web Development</div>
                      <div class="myworkingparaA">
                         <p class="workingpara">Hey, We Develop Website in the way you want.  We offer all type of web apps including all modern features as per your requirement. We collaborate with the customers, Understand their vision and gather specifications to build their own website.  </p>
                      </div>
                 </div>       
                 <div class="myworking-containerB">
                      <div class="logo"><i class="fas fa-pencil-alt"></i></div>
                         <div class="workingprofileA">Web Designing</div>
                      <div class="myworkingparaA">
                        <p class="workingpara">We design Frontend of webapps, Using proper identifier name and comments. We create custom design of website using raw CSS👨🏻 .</p>
                      </div>
                 </div>       
                 <div class="myworking-containerC">
                      <div class="logo"><i class="fas fa-photo-video"></i></div>
                         <div class="workingprofileA">Social Media</div>
                      <div class="myworkingparaA">
                          <p class="workingpara">We manage Social Media Account such as insta, twitter, emails, linkedin. We creates post and stories for all social media handles. We also design custom banners, posters.   </p>
                      </div>
                 </div>       
                 <div class="myworking-containerD">
                     <div class="logo"><i class="fas fa-tasks"></i></div>
                        <div class="workingprofileA">Website Management</div>
                     <div class="myworkingparaA">
                         <p class="workingpara">We manage Personal website, Company Page, and Blog Website. We maintain these websites and perform website Updates. </p>
                     </div>
                 </div>       
               </div>
                  <div class="line"></div>

                  <div class="collapsible-name"><h2>Autobio<span>graphy</span></h2></div>
                  
               <div class="collapsible-set">

                  <button class="collapsible">About what i am passionate about?</button>
                  <div class="content">
                     <p><i class="fas fa-quote-left"></i> I am Passionate about development, i want always to scale up my learnings. When I'm involved with a Project at Work. I do my best to acheive success. </p>
                  </div>
                  <button class="collapsible">What weaknesses do i think i have?</button>
                  <div class="content">
                     <p><i class="fas fa-quote-left"></i> Trusting People Easily.</p>
                  </div>
                  <button class="collapsible">What motivates me the most?</button>
                  <div class="content">
                     <p><i class="fas fa-quote-left"></i> Giving back to society. I am motivated by my goals and hopes to become a succesful person, When we just take a second to think about how much learning affects us, we will realize how much we need to learn in order to have success. </p>
                  </div>
                  <button class="collapsible">What do i like to do outside of work?</button>
                  <div class="content">
                     <p><i class="fas fa-quote-left"></i> “During my spare time, I enjoy to listen music. I really enjoy cooking.</p>
                  </div>
                  <button class="collapsible">What type of work environment do you prefer?</button>
                  <div class="content">
                     <p><i class="fas fa-quote-left"></i> Where good ideas are always welcome and appreciated. and I think many times this kind of enviroment is conducive for new ideas and applications. </p>
                  </div>
                 </div>

              </div>
           </div>
       </div>
    </div>
     {{>menu}}
   </div>

   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
   </script>
   <script src="./js/script.js"></script>
</body>
</html>