<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/style.css">
   <link rel="stylesheet" href="./css/responsive.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha512-c93ifPoTvMdEJH/rKIcBx//AL1znq9+4/RmMGafI/vnTFe/dKwnn1uoeszE2zJBQTS1Ck5CqSBE+34ng2PthJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <title>Mokrus | Portfolio</title>
</head>
<body>
   <div id="top-image">
    <div class="main-container">
      {{>static}}
       <div class="info-container">
          <h1 id="name">Mohit Kumar Suman</h1>
          <!-- <h1 id="name">Mohit Kumar Suman</h1> -->
          <h2 id="subname"></h2>
       </div>
    </div>
     {{>menu}}
   </div>

   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
   </script>
   <script src="./js/script.js"></script>
</body>
</html>