<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha512-c93ifPoTvMdEJH/rKIcBx//AL1znq9+4/RmMGafI/vnTFe/dKwnn1uoeszE2zJBQTS1Ck5CqSBE+34ng2PthJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <title>Mokrus | Portfolio</title>
</head>
<body>
   <div id="top-image">
    <div class="main-container">
      {{>static}}
        <div class="resume-container">

          <div class="resume-containerA">
             <div class="resume-text"> <span class="resumespan">Resu</span><span class="resumespanB">me</span></div>
             <div class="main-content">
                <div class="edex">
                  <div class="edextext"><span>Education</span></div>

                     <div class="ee-container">
                        <div class="education-container">
                           <p class="paraclassA">2021</p>
                           <p class="paraclassB">Web Develoment</p>
                        </div>
                        {{!-- <div class="vertical-container"> --}}
                        <div class="vertical-container"><i class="far fa-dot-circle"></i></div>
                        {{!-- </div> --}}
                        <div class="studyinfo-container">
                           <p class="studyinfo-para">Full Stack Development</p>
                           <p class="studyinfo-paraB"> I am working on my Web development skills. i want always to scale up my learnings. </p>
                        </div>
                  </div>

                     <div class="eeB-container">
                        <div class="education-container">
                           <p class="paraclassA">2020</p>
                           <p class="paraclassB">Laxmi narayan college of technology</p>
                        </div>
                        {{!-- <div class="vertical-container"> --}}
                        <div class="vertical-container"><i class="far fa-dot-circle"></i></div>
                        {{!-- </div> --}}
                        <div class="studyinfo-container">
                           <p class="studyinfo-para">Engineering</p>
                           <p class="studyinfo-paraB">Pursuing Engineering in Electronics and Communication. I will be done with Engineering in 2024 </p>
                        </div>
                     </div>
                     
                      <div class="experience-container">
                           <div class="exptext"><span>Experience</span></div>
                           <div class="experience-containerB">
                               <div class="expA-container">
                                  <p class="paraclassC">Current-2021</p>
                                  <p class="paraclassD">Freelancing</p>
                              </div>
                              <div class="expB-container"><i class="far fa-dot-circle"></i></div>
                               <div class="expC-container">
                                 <p class="expinfo-para">Web Developer</p>
                                 <p class="expinfo-paraB">Started Freelancing in web development. I have thorough knowledge of coding skills used in web development.</p>
                              </div>  
                          </div>

                           <div class="experience-containerB">
                               <div class="expA-container">
                                  <p class="paraclassC">Current-2021</p>
                                  <p class="paraclassD">Freelancing</p>
                              </div>
                              <div class="expB-container"><i class="far fa-dot-circle"></i></div>
                               <div class="expC-container">
                                 <p class="expinfo-para">Social Media Manager</p>
                                 <p class="expinfo-paraB">Started Freelancing in Social media handles. I have pacticed a lot in making best posts, stories </p>
                              </div>  
                          </div>
                     </div>
                </div>
                <div class="decokno">
                   <div class="designskills">
                       <div class="designskill-text"><span class="designskill-span">Design</span> <span class="designskill-spanB">Skills</span></div>
                       <div class="progressbar-container">
                          <div class="webdesign">Web Design <span class="perSpan">85%</span></div>
                          <div id="myProgress">
                            <div id="myBarA"></div>
                          </div>
                          <div class="webdesignA">Post Design <span class="perSpan">80%</span></div>
                          <div id="myProgressB">
                            <div id="myBarB"></div>
                          </div>
                          <div class="webdesignB">Template Design <span class="perSpan">80%</span></div>
                          <div id="myProgressC">
                            <div id="myBarC"></div>
                          </div>
                       </div>          
                   </div>
                   
                       <div class="codingskill">
                          <div class="codingskill-text"><span class="codingskill-spanA">Coding</span> <span class="codingskill-spanB">Skills</span></div>
                          <div class="codingProgressbars">
                         <div class="javascript">Javascript <span class="perSpan">80%</span></div>
                            <div id="myProgressD">
                               <div id="myBarD"></div>
                             </div>
                          <div class="html">HTML/CSS <span class="perSpan">95%</span></div>
                            <div id="myProgressE">
                               <div id="myBarE"></div>
                            </div>
                          <div class="node-js">Node Js <span class="perSpan">80%</span></div>
                            <div id="myProgressF">
                               <div id="myBarF"></div>
                            </div>
                          <div class="mongodb">Mongo DB <span class="perSpan">80%</span></div>
                            <div id="myProgressG">
                               <div id="myBarG"></div>
                            </div>
                          <div class="extra">Hbs/ExpressJs <span class="perSpan">90%</span></div>
                            <div id="myProgressH">
                               <div id="myBarH"></div>
                            </div>
                          <div class="git">git/github <span class="perSpan">65%</span></div>
                            <div id="myProgressI">
                               <div id="myBarI"></div>
                            </div>
                          </div>

                               <div class="knowledge">
                                  <div class="knowledgeText">Knowledges</div>
                                  <div class="boxes">
                                     <div class="boxA boxsibling"> Problem-Solving</div>
                                     <div class="boxB boxsibling">Social Media</div>
                                     <div class="boxC boxsibling">Time Management</div>
                                     <div class="boxD boxsibling">Communication</div>
                                     <div class="boxE boxsibling">Social Networking</div>
                                  </div>
                               </div>
                       </div>
                   </div> 
                        
                </div>
                        <div class="typewritingEffect">
                           <p id="typewriter-text"></p>
                           <button id="btn" onclick="typeWriter()">Click Me</button>
                        </div>
             </div>
          </div>
          
    </div>
     {{>menu}}
   </div>

   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
   </script>
   <script src="./js/script.js"></script>
</body>
</html>