<div class="menu-container">
       <nav class="navbar-container">
            <ul>
                <li>
                    <a href="/" class="actives">
                     <span class="title">Home</span>
                     <span class="icon"><i class="fas fa-home"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/about" class="actives">
                     <span class="title">About</span>
                     <span class="icon"><i class="fas fa-user"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/resume" class="actives">
                     <span class="title">Resume</span>
                     <span class="icon"><i class="fas fa-graduation-cap"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/portfolio" class="actives">
                     <span class="title">Portfolio</span>
                     <span class="icon"><i class="fas fa-briefcase"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/blog" class="actives">
                     <span class="title">Blog</span>                          
                     <span class="icon"><i class="fas fa-book"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/contact" class="actives">
                     <span class="title">Contact</span>
                     <span class="icon"><i class="fas fa-envelope"></i></span>
                    </a>
                </li>
              
            </ul>
       </nav>
       <div class="toggles-container" class="active">
           <a href="#"><i class="fas fa-chevron-right"></i></a>
           <a href="#"><i class="fas fa-chevron-left"></i></a>
       </div>
     </div>